* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

:root {
    --green-color: #06D6A0;
    --green-black-color: #2F4F4F;
    --blackgrey-color: #073B4C;
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #999999;
}

html {
    line-height: 15 px;
    box-sizing: border-box;
    font-family: Paragraph;
 }

.using {
    background-color:  #0072f5;
}

.nav {
    background-color: #131224;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.nav__list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
}

.nav__list-items, .nav__infor {
    height: 100%;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
}

.nav__list-items :hover, .nav__infor:hover {
    opacity: 0.7;
}

.nav__list-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__infor-link {
    text-decoration: none;
    color: var(--white-color);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__searching {
    width: 660px;
    height: 100%;
    display: flex;
}

.nav__searching-bar {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: 
    #0072f5;
    border: 0px;
    font-size: 1.6rem;
    font-family: Paragarph;
    color: white;
}

.fi {
    width: fit-content;
    height: 100%;
    background-color: 
    #0072f5;
    display: flex;
    align-items: center;
    padding: 2px 8px 2px 4px;
    border: 0px;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.fi:hover {
    opacity: 0.8;
}

.nav__img {
    height: 80%;
}

.nav__button-search {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
}

.container {
    height: 1300px;
    width: 100%;
    max-width: 1250px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.container-infor {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment {
    width: 100%S;
    height: 140px;
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
    border: solid #0072f5 5px;
    color: #131224;
    text-align: center;
    font-size: 2.5rem;
    padding: 15px 3px 3px 0px;
    /* font-weight: bold; */
}